.cart-container {
    position: relative;
    top: -798px;
    left: 650px;
    padding: 20px;
    height: 800px;
    width: 350px;
    background: #fff;
    box-shadow: #000;
    z-index: 2;
    box-shadow: -2px 0px 10px grey;
}

.cart-logo {
    fill: #f80000;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.cart-header {
    /* background-color: #000; */
    vertical-align: middle;
    margin-bottom: 30px;
}

.cart-font {
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f80000;
}

.dine-button {
    display: inline;
    background: #E9F0FF;
    color: #2C3A57;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.dine-button:hover {
    background: #2C3A57;
    color: #E9F0FF;
}

.cart-main-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 550px;
}

.cart-main-container::-webkit-scrollbar {
    display: none;
}

.cart-item-container {
    position: relative;
    background: white;
    width: 300px;
    min-height: 70px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    border: 1px solid rgb(230, 230, 230);
    margin: 0 0 10px 0;
    transition: all 0.3s ease 0s;
    /* cursor: pointer; */
}

.cart-item-container:hover {
    border: 3px solid grey;
    z-index: 99;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 2.5px;
    border-radius: 3px;
    fill: grey;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.delete:hover {
    fill: white;
    background: grey;
}

.cart-item-image-wrap {
    position: absolute;
    width: 80px;
    height: 100%;
    overflow: hidden;
}

.cart-item-image {
    position: relative;
    top: calc(50% - 20px);
    display: block;
    height: 40px;
    margin: auto;
}

.cart-text-wrap {
    /* background: black; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 80px;
    max-width: 190px;
}

.cart-item-text {
    font-family: 'Tahoma', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-item-detail {
    -webkit-line-clamp: 1;
    max-width: 200px;
    font-size: 10px;
    color: grey;
    margin-top: 0px;
    margin-bottom: 3px;
    font-weight: normal;
}

.cart-item-quantity {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    width: 100px;
    margin-bottom: 5px;
}

.cart-quantity {
    --hard: red;
    --soft: #ffaeae;
    width: 25px;
    height: 25px;
    border: 2px solid var(--soft);
    border-radius: 5px;
    padding: 4px;
    fill: var(--hard);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cart-quantity:hover {
    background: var(--soft);
    border: 2px solid var(--hard);
}

.cart-quantity-label {
    display: inline-block;
    width: 70px;
    height: 26px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    vertical-align: top;
    cursor: pointer;
}

.text-area {
    resize: none;
    white-space: normal;
    text-align: justify;
    -moz-text-align-last: center;
    /* Firefox 12+ */
    text-align-last: center;
    cursor: text;
}

.cart-item-price {
    display: inline;
    position: relative;
    top: -30px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: red;
    margin-right: 5px;
    float: right
}

.cart-item-tax {
    position: absolute;
    top: calc(100% - 15px);
    right: 0px;
    font-size: 7px;
    font-weight: 700;
    color: black;
    letter-spacing: 0.001px;
}

.cart-checkout {
    /* background: cyan; */
    position: relative;
    left: -20px;
    height: 150px;
    width: 350px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #4E4E4E;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
}

.cart-payment {
    background: red;
    height: 50px;
    width: 300px;
    margin: 55px auto 0 auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cart-payment:hover {
    opacity: 0.5;
}

.cart-payment p {
    position: relative;
    font-size: 24px;
    color: white;
    top: calc(50% - 12px);
    display: block;
    margin: auto;
}