.category-container {
    height: 150px;
    max-width: 650px;
    display: flex;
    align-items: center;
}

.category-item-container {
    height: 100px;
    width: 100px;
    background: #fff;
    margin: 5px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.category-item-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
    height: 45px;
}

.category-item-name {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.arrow {
    width: 15px;
    margin: 15px;
}