.popup {
    position: sticky;
    bottom: 100px;
    width: 1000px;
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-inner {
    width: 800px;
    height: 600px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #F0F0F0;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color: #3D3D3D;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.close-button {
    position: absolute;
    right: 30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.detail-container {
    width: 100%;
    min-height: calc(100% - 60px);
    /* background: black; */
}

.image-container {
    position: absolute;
    width: 220px;
    /* background: green; */
}

.image-container div {
    display: flex;
    width: 160px;
    height: 160px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
}

.image-container div img {
    display: block;
    align-self: center;
    width: 160px;
    padding: 10px;
}

.description {
    width: 580px;
    height: 450px;
    margin-left: 220px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.description::-webkit-scrollbar {
    display: none;
}

.specs {
    display: grid;
    width: 100%;
    /* background: green; */
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 60px 40px;
}

.specs h3 {
    text-align: left;
    padding-top: 20px;
}

.specs p {
    text-align: left;
}

.specs .specs-last {
    text-align: right;
    padding-right: 10px;
}

.specs-price {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.divider {
    margin: auto;
    width: 100%;
    height: 1px;
    background: #F0F0F0;
}

.quantity-row:after {
    content: "";
    display: table;
    clear: both;
}

.quantity-row .quantity-left {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    float: left;
    font-weight: bold;
}

.quantity-row .quantity-right {
    margin: 10px 0 10px 0;
    width: unset;
    padding: 10px 0 10px 0;
    float: right;
}

.factor {
    margin-top: 20px;
    letter-spacing: 0.5px;
}

/* The container */

.check-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

/* On mouse-over, add a grey background color */

.check-container:hover input~.check-mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.check-container input:checked~.check-mark {
    background-color: red;
}

/* Create the check-mark/indicator (hidden when not checked) */

.check-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the check-mark when checked */

.check-container input:checked~.check-mark:after {
    display: block;
}

/* Style the check-mark/indicator */

.check-container .check-mark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.add-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 220px);
    height: 90px;
    margin-left: 220px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    height: 60px;
    background: red;
    border-radius: 15px;
    cursor: pointer;
}

.add-button svg {
    width: 35px;
    height: 35px;
    fill: white;
}

.add-button h3 {
    color: white;
    margin-left: 20px;
    font-size: 25px;
}