.menu-container {
    /* background: grey; */
    width: 650px;
    height: 578px;
    padding: 15px;
    overflow: hidden;
}

.menu-category-font {
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu-line {
    position: relative;
    background: rgb(209, 209, 209);
    left: 100px;
    top: -10px;
    width: 510px;
    height: 1px;
}

.menu-main-container::-webkit-scrollbar {
    display: none;
}

.menu-main-container {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    position: relative;
    left: -15px;
    width: 650px;
    height: 540px;
    grid-area: bottom;
    grid-gap: 27.5px;
    grid-template-columns: 180px 180px 180px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.menu-item-container {
    position: relative;
    width: 180px;
    height: 210px;
    background: #F8F8F8;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-left: 27.5px;
    margin-top: 20px;
    /* overflow: hidden; */
    /* cursor: pointer; */
    transition: all 0.3s ease 0s;
}

.menu-item-container:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.menu-item-container img {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.menu-item-description {
    width: 180px;
    height: 80px;
    margin-top: 10px;
    background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    border-radius: 15px;
}

.menu-text-wrap {
    white-space: nowrap;
    max-height: 20px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-item-text {
    font-family: 'Tahoma', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.menu-price {
    margin-top: 10px;
    font-size: 12px;
    width: 100px;
    color: red;
    display: inline-block;
    vertical-align: middle;
}

.menu-cart {
    margin-top: 10px;
    margin-left: 20px;
    fill: white;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    padding: 7px;
    border-radius: 10px;
    background: red;
    cursor: pointer;
    z-index: 99
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 0;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    /* --primary: #79A70A;
    --primary: #a7a40a;
    --secondary: #9BC90D;
    --secondary: #c9c60d; */
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: var(--primary);
    background: linear-gradient(var(--primary) 0%, var(--secondary) 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--primary);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary);
}

.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--primary);
}