.no-scrollbar {
    width: 100%;
    height: 730px;
    overflow: scroll;
    -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.main-container {
    background: #F8F8F8;
    display: flex;
    width: 100%;
    /* height: 730px; */
    padding: 20px 0 20px 0;
    /* align-items: center; */
    justify-content: center;
}

.payment-container {
    /* background: grey; */
    width: 400px;
    padding-top: 10px;
}

.header-font {
    margin: 0 10px 0 10px;
    font-weight: bold;
    color: #577C8B
}

.item-container {
    width: 100%;
    background: white;
    margin-top: 20px;
    padding: 10px;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
    cursor: pointer;
}

.item-container:hover {
    background: #a9ffdf;
}

.item-container:hover .circle-select {
    fill: #577C8B;
}

.item-hint {
    position: relative;
    display: block;
    height: 50px;
    background: #FFFBE7;
    margin: 10px 10px 0 10px;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    color: #dac47e;
    border-radius: 5px;
    padding-top: 17px;
    padding-left: 20px;
}

.close {
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 5px;
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    fill: #dac47e;
}

.method-container {
    vertical-align: middle;
}

.circle-select {
    margin: 10px 10px 0 10px;
    fill: #3EEAAA;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transition: all 0.3s ease 0s;
}

.circle-label {
    margin: 10px 55px 0 10px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
    color: #577C8B
}

.brand {
    margin: 10px 0 0 10px;
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

.info-container {
    width: 100%;
    padding: 30px;
}

.icon-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    background: white;
}

.icon {
    display: block;
    margin: 10px 0px 10px 15px;
    width: 20px;
    height: 20px;
    fill: #837371;
}

.info {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
    fill: #837371;
    cursor: pointer;
}

.info:hover {
    fill: #aa9a98;
}

.img-hint {
    position: absolute;
    top: -100px;
    width: 300px;
    height: auto;
}

.qr-container {
    position: relative;
    margin: 0 auto;
    width: 50%;
    background: white;
}

.qr-container img {
    width: 100%;
    height: auto;
}

.qr-label {
    background: #3EEAAA;
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: #2C3A57;
}

.input-container {
    position: relative;
    display: inline-block;
    flex-direction: column;
    vertical-align: middle;
    width: 100%;
    height: 40px;
    background: white;
}

.input-container label {
    position: absolute;
    pointer-events: none;
    color: #577C8B;
    font-size: 10px;
    line-height: 1;
    left: 10px;
    top: 4px;
}

.input-container input {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 24px 16px 15px 10px;
    font-size: 14px;
    line-height: 1;
    outline: none;
    box-shadow: none;
    background-image: url(./assets/svg/card.svg);
    background-repeat: no-repeat;
    background-position: 10px 50%;
    transition: all 0.3s ease 0s;
}

.input-container input:focus {
    outline: 3px solid #2C3A57;
}

.pay-button {
    background: #3EEAAA;
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    color: #2C3A57;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.pay-button:hover {
    background: #2C3A57;
    color: white;
}

.cancel-button {
    background: white;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
    font-size: 15px;
    font-weight: bold;
    color: #2C3A57;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cancel-button:hover {
    background: #2C3A57;
    color: white;
}

.footer {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    color: #2C3A57
}