* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

.app {
    max-width: 1000px;
    background: #F8F8F8;
    margin: 30px auto;
    overflow: hidden;
    height: 800px;
    border: 1px solid black;
}

.home-container {
    background: #fff;
    padding: 10px;
    height: 70px;
}

.home-logo {
    fill: white;
    width: 35px;
    height: 35px;
}

.home-button {
    background-color: #2C3A57;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-color: #fff;
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.home-font {
    font-family: 'Poppins', sans-serif;
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #2C3A57;
}

.home-label {
    position: relative;
    left: 30%;
}